*slurm-*.out
*__pycache__*
tests_new/artifacts/*
.vscode
.venv/
/datasets/
.benchmarks
assets/
artifacts/
datasests/
_datasets/
_models/

# VS Code
.idea/
.pytest_cache
results/


# pixi environments
.pixi
*.egg-info
.gitattributes

# Wandb
/wandb/
wandb/
