*slurm-*.out
*__pycache__*
tests_new/artifacts/*
.vscode
.venv/
/datasets/
.benchmarks
assets/
artifacts/
datasests/
_datasets/
_models/
_artefacts/

# VS Code
.idea/
.pytest_cache
results/
*.code-workspace


# pixi environments
.pixi
*.egg-info
.gitattributes

# Wandb
/wandb/
wandb/

# Optuna
src/exp/*/hpo/*.db
src/exp/*/hpo/*.db-shm
src/exp/*/hpo/*.db-wal
